doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
    h1
      a(href="/") Chat
    ul
      li
        a(a href="/account") Account
      li
        a(href="/logout") Logout
    block content
    
    block headScripts