body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
header ul {
  list-style: none;
}
header li {
  float: left;
  margin-right: 10px;
}
header a {
  text-decoration: none;
}
header a:hover {
  border-bottom: 1px dotted #00b7ff;
}
#main {
  margin-top: 50px;
}
#incoming {
  width: 400px;
  height: 300px;
  overflow: scroll;
  border: solid 1px #333;
  background-color: #c6c6c4;
  margin-left: 300px;
}
#incoming span {
  display: block;
}
#outgoing {
  width: 396px;
  height: 50px;
  margin-top: 20px;
  overflow: scroll;
  border: solid 1px #ccc;
  margin-left: 300px;
}
.outgoing {
  text-align: right;
  color: #6a91a0;
  margin: 0 0 2px 0;
  background: #ebebeb;
  padding-right: 5px;
}
.fromuser {
  color: #000;
  font: 18px Arial;
  margin: 5px;
}
.system {
  color: #f00;
}
